.quote {
  display: flex;
  background-color: #f6cd15;
  margin-top: 8px;
  padding: 0 0 0 0;
  color: black;
  align-items: center;
}

.quote:hover {
  background-color: #414ce6 !important;
  color: aliceblue;
}
.row1 {
  background-color: #37a1df;
  color: #f0ffff;
}

.btn {
  color: black;
}
.btn:hover {
  background-color: #414ce6 !important;
}

.boton {
  color: #f0f8ff;
  border-bottom: #f0f8ff;
}
.boton:hover {
  background-color: #37a1df !important;
  color: #f0ffff;
}
.seccion2 {
  background: linear-gradient(90deg, #37a1df 50%, #f7f9f6 50%);
}
